# environment settings > dev or prod
ENV=dev

# qradar settings
QRADAR_URL=
QRADAR_USERNAME=
QRADAR_PASSWORD=
QRADAR_AQL_SEARCH_QUERY=select "Event ID" as event_id, username as src_user, "Target Username" as dst_user, "Group Name" as group_name, utf8(payload) as log from events where LOGSOURCETYPENAME(devicetype) = 'Microsoft Windows Security Event Log' and "Event ID" in ({wse_ids}) limit ${QRADAR_QUERY_LIMIT} last ${QRADAR_QUERY_INTERVAL} minutes
QRADAR_QUERY_LIMIT=9999
QRADAR_QUERY_INTERVAL=15

# smtp settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_FROM_EMAIL=
SMTP_FROM_EMAIL_APP_PASSWORD=
SMTP_TO_EMAILS=
SMTP_CC_EMAILS=

# teams workflow settings
TEAMS_WORKFLOW_URL= # MSTeams > Workflows > Post to a channel when a webhook request is received
